<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车案例</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border: 1px solid #aaa;
            padding: 8px 16px;
        }
        .active {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">

        <template v-if="books.length">
        
            <table>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in books" 
                    :key="item.id"
                    :class="{active: index == isActive}" 
                    @click="switchColor(index)">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ formatPrice(item.price) }}</td>
                        <td>
                            <button :disabled="item.count <= 1" @click="decrement(item)">-</button>
                            {{ item.count }}
                            <button @click="increment(item)">+</button>
                        </td>
                        <td>
                            <button @click="removeItem(index)">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <h2>总价: {{ formatPrice(totalPrice) }}</h2>  
            
        </template>

        <template v-else>
        
             <h1 class="active">购物车为空，请添加喜欢的书籍</h1>   
            
        </template>
        
        
      </div>
      <script src="./data.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script>
        const app = Vue.createApp({
          data: function(){
            return {
                books: books,
                isActive: -1
            }
          },
          // 使用computed计算总价
          computed: {
            // 总价
            totalPrice() {
                // 1、直接遍历books
                // let price = 0;
                // for (const item of this.books) {
                //     price += item.price * item.count
                // }
                // return price
                
                // 2、reduce
                return this.books.reduce((preValue, item) => {
                    return preValue + item.price * item.count
                }, 0)
            }
          },
          methods: {
            // 格式化price
            formatPrice(price) {
                return "￥" + price
            },
            // 减少书的数量, 传入item对象，更新item的count即可
            decrement(item) {
                item.count --
            },
            // 增加书的数量, 传入item对象，更新item的count即可
            increment(item) {
                item.count ++
            },
            // 移除书籍
            removeItem(index) {
                this.books.splice(index, 1)
            },
            // 改变active
            switchColor(index) {
                this.isActive = index
            }
          }
        })
        app.mount("#app")
      </script>
</body>
</html> 